.headerTitle{
    display: flex;
    flex-direction: column;
    color: #444;
    align-items: center;
    font-family: 'Lora', serif;
}

.headerTitleSm{
    position: absolute;
    font-size: 20px;
    top: 90px;
}

.headerTitleBg{
    position: absolute;
    top: 100px;
    font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 350px;
    margin-top: 120px;
    object-fit: cover;
}

@media only screen and (max-width: 550px){

    .headerTitleSm{
        top: 105px;
        font-size: 17px;
    }

    .headerTitleBg{
        top: 120px;
        font-size: 70px;
    }

}