.details{
    background-color: gray;
    height: calc(100vh - 50px);
    display: flex;
}

.detailsForm{
    width: 20%;
    height: 50%;
    display: flex;
    background-color: white;
    position: relative;
    top: 25%;
    left: 40%;
    align-items: center;
    flex-direction: column;
}

.imgInput{
    width: 160px;
    height: 160px;
    background-color: red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.name{
    margin-top: 30px;
    border-bottom: 1px solid #8a8a8a;
}

.submit-button{
    background-color: #25D366;
    border: none;
    border-radius: 20px;
    margin-top: 50px;
}